<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Add New Category</title>
</head>
<body>
    <nav th:replace="admin/_fragments :: menu(2)">
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui right menu">
                <a href="#" th:href="@{/admin/categories/input}" class="active teal item">New</a>
                <a href="#" th:href="@{/admin/categories}" class="item">List</a>
            </div>
        </div>
    </div>

    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
            <form action="#" method="post" th:object="${category}" th:action="*{id} == null ? @{/admin/categories} : @{/admin/categories/{id}(id=*{id})}" class="ui form">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">Name</label>
                        <input type="text" name="name" placeholder="Category Name" th:value="*{name}">
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                    <button class="ui teal submit button">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!--bottom-->
    <footer th:replace="admin/_fragments :: footer">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'name',
                    rules: [{
                        type: 'empty',
                        prompt: 'Attention：Please input category name!'
                    }]
                }
            }
        });

        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });

    </script>
</body>
</html>