<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Launch Post</title>
</head>
<body>
<nav th:replace="admin/_fragments :: menu(1)">
</nav>

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui right menu">
                <a href="#" th:href="@{/admin/posts/input}" class="active teal item">Launch</a>
                <a href="#" th:href="@{/admin/posts}" class="item">List</a>
            </div>
        </div>
    </div>
    <div class="m-padded-tb-large m-container">
        <div class="ui container">
            <form id="post-form" action="#" th:object="${post}" th:action="@{/admin/posts}" method="post" class="ui form">

                <input type="hidden" name="published">
                <input type="hidden" name="id" th:value="*{id}">

                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui selection compact teal basic dropdown label">
                            <input type="hidden" value="Original" name="flag" th:value="*{flag}">
                            <i class="dropdown icon"></i>
                            <div class="text">Original</div>
                            <div class="menu">
                                <div class="item" data-value="Original">Original</div>
                                <div class="item" data-value="Reprint">Reprint</div>
                                <div class="item" data-value="Translation">Translation</div>
                            </div>
                        </div>
                        <input type="text" name="title" placeholder="title" th:value="*{title}">
                    </div>
                </div>
                <div class="required field">
                    <div id="md-content" style="z-index: 1 !important;">
                        <textarea name="content" placeholder="Post content" style="display: none" th:text="*{content}"></textarea>
                    </div>

                </div>

                <div class="two fields">
                    <div class="required field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">Category</label>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name="category.id"  th:value="*{category} != null ? *{category.id}">
                                <input type="hidden" name="category.id"  th:value="*{category} != null ? *{category.id}">
                                <i class="dropdown icon"></i>
                                <div class="default text">Category</div>
                                <div class="menu">
                                    <div th:each="category : ${categories}" class="item" data-value="1" th:data-value="${category.id}" th:text="${category.name}">Log</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">Tag</label>
                            <div class="ui fluid selection multiple search dropdown">
                                <input type="hidden" name="tagIds" th:value="*{tagIds}">
                                <i class="dropdown icon"></i>
                                <div class="default text">Tag</div>
                                <div class="menu">
                                    <div class="item" th:each="tag : ${tags}" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">Cover Picture</label>
                        <input type="text" name="coverImage" th:value="*{coverImage}" placeholder="The reference of cover picture">
                    </div>
                </div>

                <div class="required field">
                    <textarea type="text" name="description" th:text="*{description}" maxlength="200" placeholder="post description"></textarea>
                </div>

                <div class="ui inline fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend" th:checked="*{recommend}" class="hidden">
                            <label for="recommend">recommendation</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden">
                            <label for="shareStatement">Reprint statement</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">
                            <label for="appreciation">appreciation</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="commentable" name="commentable" class="hidden" th:checked="*{commentable}">
                            <label for="commentable">comment</label>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                    <button type="button" id="save-btn" class="ui secondary button">Save</button>
                    <button type="button" id="publish-btn" class="ui teal button">Launch</button>
                </div>
            </form>

        </div>


    </div>
    <!--bottom-->
    <footer th:replace="admin/_fragments :: footer">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [{
                        type: 'empty',
                        prompt: 'Attention：Please input title!'
                    }]
                },

                content: {
                    identifier: 'content',
                        rules: [{
                        type: 'empty',
                        prompt: 'Attention：Please input content!'
                    }]
                },

                typeId: {
                    identifier: 'typeId',
                    rules: [{
                        type: 'empty',
                        prompt: 'Attention：Please input type!'
                    }]
                },

                coverImage: {
                    identifier: 'coverImage',
                    rules: [{
                        type: 'empty',
                        prompt: 'Attention：Please input reference of conver picture!'
                    }]
                },

                description : {
                    identifier: 'description',
                    rules: [{
                        type : 'empty',
                        prompt: 'Attention：Please input description!'
                    }]
                }
            }
        });
        var contentEditor;
        $(function() {
            contentEditor = editormd("md-content", {
                width   : "100%",
                height  : 640,
                syncScrolling : "single",
                path    : "/lib/editormd/lib/"
            });
        });

        $('#save-btn').click(function () {
            $('[name="published"]').val(false);
            $('#post-form').submit();
        });

        $('#publish-btn').click(function () {
            $('[name="published"]').val(true);
            $('#post-form').submit();
        });




    </script>
</body>
</html>