<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>Tag management</title>
</head>
<body>
    <nav th:replace="admin/_fragments :: menu(3)">
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui right menu">
                <a href="#" th:href="@{/admin/tags/input}" class="item">New</a>
                <a href="#" th:href="@{/admin/tags}" class="active teal item">List</a>
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">Sign:</div>
                <p th:text="${message}">Congratulation! Operation successful！</p>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tag,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${tag.name}">Story</td>
                        <td>
                            <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui teal button">Edit</a>
                            <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui red button">Delete</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui mini pagination menu" th:if="${page.totalPages} > 1">
                                <a th:href="@{/admin/tags(page=${page.number}-1)}" class="item" th:unless="${page.first}">Prev</a>
                                <a th:href="@{/admin/tags(page=${page.number}+1)}" class="item" th:unless="${page.last}">Next</a>
                            </div>
                            <a href="" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">New</a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <footer th:replace="admin/_fragments :: footer">
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
</body>
</html>