<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragment :: head(~{::title})">
    <title th:text="${query}">HOME PAGE</title>
</head>

<body>
<div id="main">
    <header>
        <div class="header-wrapper">
            <div class="container">
                <div class="header-menu">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-4 col-md-2">
                            <a class="logo" href="/">
                                <img src="assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="col-8 col-md-8">
                            <div class="mobile-menu"><a href="#" id="showMenu"><i class="fas fa-bars"></i></a></div>
                            <nav class="navigation">
                                <ul>
                                    <li class="nav-item"><a class="pisen-nav-link active" href="/">Home</a>
                                    </li>
                                    <li class="nav-item"><a class="pisen-nav-link" href="">Categories</a><i
                                            class="submenu-opener fas fa-plus"></i>
                                        <ul class="sub-menu">
                                            <li class="sub-menu_item"><a class="sub-menu-link" href="#">Java
                                                Programming</a></li>
                                            <li class="sub-menu_item"><a class="sub-menu-link" href="#">Spring
                                                Framework</a></li>
                                            <li class="sub-menu_item"><a class="sub-menu-link"
                                                                         href="#">Hibernate</a></li>
                                            <li class="sub-menu_item"><a class="sub-menu-link" href="#">PHP
                                                Programming</a></li>
                                            <li class="sub-menu_item"><a class="sub-menu-link" href="#">Laravel</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="pisen-nav-link" href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-0 col-xl-2">
                            <div class="menu-function">

                                <div id="search">
                                    <a class="search-btn" href="#"><i class="fas fa-search fa-2x"></i></a>
                                </div>

                                <div class="social-contact">
                                    <a href="https://www.facebook.com/truongnq2k"><i
                                            class="fab fa-facebook-f fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End header-->

    <section class="posts blog-2col">
        <div class="container">
            <div class="alert alert-success h2" role="alert">
                Result for: <span class="text-danger" th:text="${query}"></span>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6" th:each="post : ${page.content}">
                    <div class="post-block post-classic">
                        <div class="post-img"><img th:src="@{${post.coverImage}}" th:alt="${post.title}"></div>
                        <div class="post-detail">
                            <a class="post-title regular" th:href="@{/post/{id}(id=${post.id})}"
                               th:text="${post.title}"></a>
                            <div class="post-credit">
                                <div class="author">
                                    <a class="author-avatar" href="#">
                                        <img th:src="@{${post.user.avatar}}" th:alt="${post.user.fullName}">
                                    </a>
                                    <h5 class="author-name" th:text="${post.user.username}"></h5>
                                </div>
                                <h5 class="upload-day" th:text="${#dates.format(post.updateTime, 'dd-MM-yyyy')}"></h5>
                                <div class="post-tag" th:each="tag : ${post.tags}">
                                    <a href="index.html" th:href="@{/tag/{id}(id = ${tag.id})}"
                                       th:text="${tag.name}"></a>
                                </div>
                            </div>
                            <p class="post-describe" th:text="${post.description}"></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <a class="normal-btn" href="#" th:href="@{/(page=${page.number}-1)}"
                       th:unless="${page.first}">Prev</a>
                    <a class="normal-btn" href="#" th:href="@{/(page=${page.number}+1)}"
                       th:unless="${page.last}">Next</a>
                </div>
            </div>
        </div>
    </section>
    <!--End posts-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-4">
                            <div class="footer-links">
                                <h5 class="footer-link--title">Quick Link</h5>
                                <ul>
                                    <li><a class="footer-link" href="">Reditect Link</a></li>
                                    <li><a class="footer-link" href="">Reditect Link</a></li>
                                    <li><a class="footer-link" href="">Reditect Link</a></li>
                                    <li><a class="footer-link" href="">Reditect Link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-4">
                            <div class="footer-links">
                                <h5 class="footer-link--title">Information</h5>
                                <ul>
                                    <li><a class="footer-link" href="#">Home</a></li>
                                    <li><a class="footer-link" href="#">Features</a></li>
                                    <li><a class="footer-link" href="#">About Us</a></li>
                                    <li><a class="footer-link" href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h5 class="footer-link--title">Contact us</h5>
                                <div class="contact-method">
                                    <p>FPT University, Ha Noi, VN</p>
                                    <p>truongnq2k@gmail.com</p>
                                </div>
                                <div class="social-contact">
                                    <a class="icon-btn" href="https://www.facebook.com/truongnq2k" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="icon-btn" href="https://www.github.com/truongnq2k" target="_blank">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a class="icon-btn" href="https://twitter.com/vnwebs" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="footer-link--title">Subscribe To Get Latest Post </h5>
                    <form action="" method="post">
                        <div class="email-form">
                            <input class="input-form" type="text" placeholder="Enter Your Mail">
                            <button><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                    <p class="copyright">Copyright ©2021 CoraDev Community</p>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->
    <script src="assets/js/jquery-3.4.0.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/plyr.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/numscroller-1.0.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/main.js"></script>
</div>
</body>

</html>